TELEGRAM_BOT_TOKEN=123456789:AABBCCDDEEFFaabbccddeeff
TELEGRAM_TEST_BOT_TOKEN=987654321:ZZYYXXWWVVUUzzyyxxwwvvuu
SPREADSHEET_ID=your_production_spreadsheet_id
TEST_SPREADSHEET_ID=your_test_spreadsheet_id
WEBAPP_URL=https://script.google.com/macros/s/your-deployment-id/exec
